.container {
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 0 10px;
  height: 80px;
  width: 260px;
}

.p {
  line-height: 90%;
  text-align: left;
}

.button {
  height: 40px;
}
